<div class="container" id="headerFormView">
  <div class="float-left h2">Benutzerstammdaten</div>
  <form role="form" name="headerForm" [formGroup]="customerForm" (ngSubmit)="submitCustomerData()">
        <div class="row">
          <div class="form-group col-xs-4">
            <label for="basarNumber">Basar Nr.</label>
            <input type="number" class="form-control" formControlName="basarNumber" id="basarNumber" name="basarNumber"
                   placeholder="Basar Nr.*" data-old="customer.basarNumber" required min="1"/>
          </div>
          <div class="form-group col-xs-8">
            <label for="customerName">Name</label>
            <input type="text" class="form-control" formControlName="name" name="customerName"
                   id="customerName" autocomplete="name" placeholder="Name*" data-old="customer.name" required/>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-xs-8">
            <label for="customerStreet">Straße</label>
            <input type="text" class="form-control" formControlName="street" id="customerStreet" name="customerStreet"
                   placeholder="Straße*" autocomplete="address-line1" data-old="customer.street" required/>
          </div>
          <div class="form-group col-xs-4">
            <label for="customerHouseNumber">Haus Nr.</label>
            <input type="text" class="form-control" formControlName="houseNumber" id="customerHouseNumber"
                   name="customerHouseNumber"
                   placeholder="HausNr.*" autocomplete="address-line2" data-old="customer.houseNumber" required/>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-xs-4">
            <label for="customerPostalcode">PLZ</label>
            <input type="text" class="form-control" formControlName="postalCode" id="customerPostalcode"
                   name="customerPostalcode"
                   placeholder="PLZ*" autocomplete="postal-code" data-old="customer.postalCode" required/>
          </div>
          <div class="form-group col-xs-8">
            <label for="customerCity">Stadt</label>
            <input type="text" class="form-control" formControlName="city" id="customerCity" name="customerCity"
                   placeholder="Stadt*" autocomplete="address-level2" data-old="customer.city" required/>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-xs-6">
            <label for="customerPhone">Telefonnummer</label>
            <input type="text" class="form-control" formControlName="phonenumber" id="customerPhone"
                   name="customerPhone"
                   placeholder="Telefonnummer*" autocomplete="tel" data-old="customer.phone" required/>
          </div>
          <div class="form-group col-xs-6">
            <label for="customerEmail">Emailadresse</label>
            <input type="email" class="form-control" formControlName="email" id="customerEmail" name="customerEmail"
                   placeholder="Email*" autocomplete="email" data-old="customer.email" required/>
          </div>
        </div>

        <div class="row">
          <div class="form-group form-check col-xs-12">
            <input type="checkbox" class="form-check-input" formControlName="dataSecurityConfirmation" id="dataSecurityConfirmation">
            <label class="form-check-label" for="dataSecurityConfirmation">
              Ich habe den <a data-toggle="modal" data-target="#modalDataSecurityHint">Datenschutzhinweis</a> gelesen
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-primary" [disabled]="!customerForm.valid">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              Abschicken
            </button>
          </div>
        </div>
      </form>
  <app-data-privacy></app-data-privacy>
</div>
