<div class="row">
  <div class="form-group col-xs-2">
    <label for="lfdNo">lfdNo</label>
    <input type="number" id="lfdNo" name="lfdNo" class="form-control input-sm">
  </div>
  <div class="form-group col-xs-3">
    <label for="category">Kategorie</label>
    <select class="form-control input-sm" id="category" name="category">
      <option *ngFor="let category of categories">{{category}}</option>
    </select>
  </div>
  <div class="form-group col-xs-3">
    <label for="description">Beschreibung</label>
    <input type="text" id="description" name="description" class="form-control input-sm">
  </div>
  <div class="form-group col-xs-1">
    <label for="size">Größe</label>
    <input type="text" id="size" name="size" maxlength="7" class="form-control input-sm">
  </div>
  <div class="form-group col-xs-2">
    <label for="price">Preis</label>
    <input type="text" id="price" name="price" class="form-control input-sm">
  </div>
  <div class="col-xs-1">
    <button class="btn-primary btn-sm" type="button" ng-disabled="articleEntryForm.$invalid"
            ng-click="addCurrentProduct()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </div>
</div>
