<div class="row">
  <div class="well col-xs-12">
    <h2>Datenschutzhinweis</h2>
    Hier Datenschutzerklärung einfügen..
    <!-- Ihre Daten werden ausschließlich zur kommunikation bezüglich des Basars verwendet.
    Sie werden im Rahmen dieser Anwendung in Ihrem Browser gespeichert,
    falls dies nicht durch Browsereinstellungen verhindert wird. Zur reibungslosen Durchführung
    des Basars werden Ihre Daten auch an den Server übermittelt, wo sie nach dem aktuellen Basar
    gelöscht werden. Ihre Daten werden nicht zu Werbezwecken außerhalb des Basars verwendet. /-->
  </div>
</div>
