<div class="row">
  <div class="alert alert-warning col-xs-12" ng-hide="localStorageAvailable">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <b>Achtung</b> in diesem Browser ist das automatische speichern Ihrer Daten nicht möglich.
    Um die von Ihnen eingegebenen Daten zu sichern bitte den "Speichern" Button verwenden. um
    Ihre Daten in einer neuen Sitzung wieder einzulesen verwenden Sie bitte den "Laden" Button.
    <b>Dies ist derzeit noch nicht möglich, da die Logik zum Laden und
      <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
      Speichern noch nicht implementiert ist.</b>
  </div>
</div>
