<div class="row">
  <div class="col-xs-2">
    Basarnummer:
    <p style="font-size:3em;font-weight: bold;">{{customer.basarNumber}}</p>
  </div>
  <div class="col-xs-6">
    <address>
      <strong>{{customer.name}}</strong><br>
      {{customer.street}} {{customer.houseNumber}}<br>
      {{customer.postalCode}} {{customer.city}}<br>
      <hr>
      <abbr title="Telefonnummer">Tel:</abbr> {{customer.phonenumber}}<br>
      Email: {{customer.email}}
    </address>
  </div>
  <div class="col-xs-4">
    <img id="basar-logo" src="../assets/img/basarlogo.png" width="280"/>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button routerLink="/userdata" type="button" class="btn-sm pull-right" aria-label="Left Align">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"> Kopfdaten bearbeiten</span>
    </button>
  </div>
</div>
